@import "tailwindcss";

* {
  box-sizing: border-box;
}

#qr-reader video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

#qr-reader canvas {
  width: 100% !important;
  height: 100% !important;
}
